.borderstyle {
  border: 1rem solid black;
  height: 20rem;
  width: 20rem;
}

.center {
  margin: 20rem;
  padding-left: 15rem;
}

.text-cen {
  margin-left: 8.5rem;
}
.h1-cen {
  margin-left: 3.5rem;
}